.navbar-container {
  background: #009286;
}

.navbar-container header {
  margin-left: 20px;
}

.navbar-container__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container a {
  color: #f2c000;
}

.nav-link {
  margin-right: 20px;
  font-weight: 700;
}
