.SearchShow__container {
  width: 70%;
  margin: 16rem auto 4rem;
  position: relative;
}

form {
  position: relative;
}

form input {
  padding: 1.4rem;
  width: 100%;
  border-radius: 50px;
  background: var(--darkener-color);
  font-size: 2.5rem;
  border: none;
  color: #fff;
  text-shadow: 1px -2px #333;
  padding-right: 14%;
  outline-width: 0ch;
}

form input:hover {
  border-color: transparent;
  box-shadow: 0 0 20px -5px rgba(255, 255, 255, 0.5);
  transition: all 0.6s ease-in-out;
}

form button {
  position: absolute;
  right: 0.5%;
  top: 5%;
  height: 90%;
  width: 100px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 5px 0 #333;
  color: #fff;
  background: rgba(135, 57, 199, 0.7);
  font-size: 1.6rem;
}

form button:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
  background: purple;
  color: #fff;
}

@media screen and (max-width: 480px) {
  form button {
    position: relative;
    width: 90%;
    font-size: 2rem;
    margin: 0.5rem auto;
    padding: 1.4rem;
  }
}
