* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Karla", monospace, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem; /* 16px */
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.border__rounded {
  border-radius: 20px;
}
