:root {
  --main-color: #009286;
  --theme-color: #004943;
  --secondary-color: #f2c000;
  --dark-secondary-color: #796000;
  --darkener-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Karla", monospace, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--theme-color);
  font-size: 1.6rem; /* 16px */
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* utils */
.container {
  max-width: 1200px;
  margin: auto;
}

.border__rounded {
  border-radius: 20px;
}

/* scrollbar */
::-webkit-scrollbar {
  display: none;
}
